sudo: required

language: scala

scala:
  - 2.11.8

jdk:
  - oraclejdk8

env:
  global:
    - DOCKER_HUB_TRIGGER_URL=https://registry.hub.docker.com/u/s12v/sns/trigger
    - ENDPOINT=http://localhost:9911/
    - AWS_ACCESS_KEY_ID=foo
    - AWS_SECRET_ACCESS_KEY=bar

before_cache:
  # Save tagged docker images
  - >
    mkdir -p $HOME/docker && docker images -a --filter='dangling=false' --format '{{.Repository}}:{{.Tag}} {{.ID}}'
    | xargs -n 2 -t sh -c 'test -e $HOME/docker/$1.tar.gz || docker save $0 | gzip -2 > $HOME/docker/$1.tar.gz'

cache:
  bundler: true
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
    - $HOME/docker

services:
  - docker

before_install:
  # Load cached docker images
  - if [[ -d $HOME/docker ]]; then ls $HOME/docker/*.tar.gz | xargs -I {file} sh -c "zcat {file} | docker load"; fi

install:
  - sbt clean update
  - bundle install
  - docker run -d -p 9324:9324 s12v/elasticmq
  - docker run -it -v "$PWD":/tmp -w /tmp composer/composer:1-alpine install

script:
  - sbt coverage test coverageReport
  - sbt assembly
  - java -jar $(ls $TRAVIS_BUILD_DIR/target/scala-2.11/sns-*.jar | tail -1) > log.txt &
  - >
    bash <(curl -s https://raw.githubusercontent.com/s12v/wait4port/master/wait4port.sh)
    http://localhost:9911
    http://localhost:9324
  - bundle exec cucumber
  - >
    docker run -it
    -e ENDPOINT="$ENDPOINT"
    -e AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY_ID"
    -e AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY"
    -v "$PWD":/tmp -w /tmp --net=host php:7-alpine
    bin/behat

after_failure:
  - cat log.txt
  - cat db.json

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - |
    if [ "$TRAVIS_BRANCH" = "master" ]; then
      curl -H 'Content-Type: application/json' \
      -X POST "${DOCKER_HUB_TRIGGER_URL}/${DOCKER_HUB_TRIGGER_TOKEN}/" \
      --data '{"source_type": "Branch", "source_name": "master"}'
    fi

deploy:
  provider: releases
  api-key:
    secure: "iMohs9rpYzhnYdUdCvh+t9crjoF2lcWuRlSCg+3kadXPt0V8lHoPMZio0wNROMtLTkLUqHcZgwHnvZ7T3PwfKrNAoZ7HnQbpXng3CApZgL68zQDwcykb0yOvZDopcjzZ/xPw29wnP8Sl5D6yelGakyx10AyjepHoesDc/hwnj8e0WYB2OflY6TiZja9n/tTXLr6wBhHnbe3b3t14WlRCM2w6CFfOGCo9bVGJG0V0kECZDz7hDYLbsmjhvpbEawUuNJAOM5AzrUetnbaA/TRjieDZF7/jhQiWsd4zlU4L0/JjGc+pNaz0aXk6Soyb4SfopQfIPoKMYYIwqiOkJxRmXCvLVTX6UMi6uUYR1CxpWPHnpVTt5eoEBAQMPHSfZfqz1AJ7PshSqn4iOgKDdw/MBOJFs/0qslE7e98bGQaAm2DwVP+LXw1EpPlC/q7C9TbQV0TP6FoGOyhQUYrF7ySgOfPnAdDoH7oPhrKyLWMrM5i3X0L5jQ7XIa2EgPxlWbsaT9v6SE4/Qo+D9rrfadmCNTWWa1med1OrcS4WWujz2YOKXmdRX5v1k6Wf2b9lok9qw9FpMHqAaC+tyo5kDoIjOzQS587uydm89u6g+TGEAGNyNHmkQj5fE/WaMcsOtq+VYGCFdoT/pvFJg9a4S1qzC6U67yoPjYgXT9++W9JHOro="
  file: "$(ls $TRAVIS_BUILD_DIR/target/scala-2.11/sns-*.jar | tail -1)"
  skip_cleanup: true
  on:
    tags: true
    all_branches: true

after_deploy:
  - >
    curl -H 'Content-Type: application/json'
    -X POST "${DOCKER_HUB_TRIGGER_URL}/${DOCKER_HUB_TRIGGER_TOKEN}/"
    --data "{\"source_type\": \"Tag\", \"source_name\": \"$TRAVIS_TAG\"}"
